.paginator {
   width: 50%;
   margin: 5vh auto;
   position: relative;
   background: rgba(255, 0, 0, 0.637);
   ul.pagination {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      li {
         padding: 0.3rem;
         a {
            color: black;
         }
      }
      li.page-item.active {
         span.page-link {
            background: black;
            color: white;
            border: 1px solid black;
         }
      }
   }
}
